.alert-success{
    color:white;
    background-color: green;
}

.alert-danger{
    color:gold;
    background-color: red;
}

.alert-danger,.alert-success{
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 30px;
}

.btn-logout{
    padding: 140px;
}

.body{
    background-color: rgb(68, 68, 68);
    padding: 100px;
}

form{
    border:3px solid grey;
    border-radius: 20px;
    label{
        color:white;
    }
    input{
        border-radius: 10px;
        padding: 5px;
        outline-width: 0;
    };
}
